body {
  background-color: #fff;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 2em 0 0 0;
  text-align: center;
}

img {
  height: 1em;
}

a {
  color: #0ae;
  font-weight: 700;
}
a:hover {
  color: #000;
}

#example {
  background-color: #eee;
  border: .2em solid #888;
  border-radius: 1em;
  color: #000;
  font-weight: 900;
  margin: 2em 40%;
  overflow: visible;
  padding: 1em;
  position: relative;
  z-index: 5;
}

.centered-line {
  align-items: center;
  display: flex;
  justify-content: center;
  width:100%;
}